* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6rem 0;
    align-items: center;
    min-height: 100vh;
    background: #c94b4b;
    background: -webkit-linear-gradient(to top, #4b134f, #c94b4b);
    background: linear-gradient(to top, #4b134f, #c94b4b);
    opacity: 0.5;
    border: 2px solid #333;
}

.stopwatch {
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    color: #f4f4f4;
    font-size: 2.5rem;
    background: #E8CBC0;
    background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);
    background: linear-gradient(to right, #636FA4, #E8CBC0);
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}

.buttonContainer button {
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
    background: #E8CBC0;
    font-weight: bold;
}

.buttonContainer button:hover {
    background: #f4f4f4;
    padding: 1.1rem;
}